language = "c"
onStart  = "apt-get install libncurses5-dev libncursesw5-dev && make && make clean"
run = "./my_sokoban map_demo.txt"
onStop = "pkill my_sokoban"
[[hints]]
regex = "exit status [84]"
message = "Something was wrong, the program return an error !"
